#login,
#buy-ticket {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

input,
select {
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    background-color: #3b3b3b;
    border: 1px solid #4b4b4b;
    caret-color: rgb(83, 83, 255);
}

button:not(header button, footer button) {
    background-color: coral;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #4b4b4b;
    cursor: pointer;
    padding: 10px;
}