.login-register-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

input {
    padding: 20px;
    border-radius: 10px;
    height: 50px;
    background-color: #3b3b3b;
    border: 1px solid #4b4b4b;
    caret-color: rgb(83, 83, 255);
}

button.login {
    background-color: rgb(100, 100, 255);
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #4b4b4b;
    cursor: pointer;

}