header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: visible;
    overflow-x: auto;
}

footer button {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    border-radius: 10px;
    transition: color 0.3s ease, text-underline-offset 0.3s ease;
    background-color: transparent;
    border: none;
}


header img {
    width: 75px;
    height: 75px;
}

@media (max-width: 600px) {
    header button:not(:first-child) {
        display: none;
    }
}