li {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
}

@media (prefers-color-scheme: light) {
    li {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    li {
        color: white;
    }
}